.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(247, 248, 244);
  justify-content: flex-start;
  .left {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: rgb(223, 232, 245);
    .up {
      display: flex;
      height: 10%;
      background-color: rgb(230, 238, 124);
      border: {
        style: solid;
        width: 5px;
        color: rgb(236, 223, 38);
      }
    }
    .mid {
      display: flex;
      height: 45%;
      background-color: rgb(247, 248, 244);
      border: {
        style: solid;
        width: 5px;
        color: rgb(236, 223, 38);
      }
    }
    .down {
      display: flex;
      height: 45%;
      background-color: rgb(247, 248, 244);
      border: {
        style: solid;
        width: 5px;
        color: rgb(236, 223, 38);
      }
    }
  }
  .right {
    width: 15%;
    background-color: rgb(223, 232, 245);
  }
  .dialog {
    background-color: rgb(242, 243, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    width: 70%;
    padding: 20px 20px 10px 10px;
    // margin: 50px 50px 50px 50px;
    border: {
      style: solid;
      width: 5px;
      color: rgb(236, 223, 38);
    }
    .topBar {
      justify-content: flex-start;
      display: flex;
      padding: 0px 20px 20px 20px;
    }
    .section {
      height: 90%;
      border: {
        style: solid;
        width: 5px;
        color: rgb(7, 135, 173);
      }
    }
    .footer {
      height: 6%;
      border: {
        style: solid;
        width: 5px;
        color: rgb(222, 245, 248);
      }
    }
  }
}
